<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643156710561-qqnd1hnijea43a5f2tufks59lar5v6ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643156710561-qqnd1hnijea43a5f2tufks59lar5v6ud</string>
	<key>API_KEY</key>
	<string>AIzaSyDzfZa7CU4_6oLeXKvnrbVNAwD_L98hNuo</string>
	<key>GCM_SENDER_ID</key>
	<string>643156710561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.fionawekulo.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643156710561:ios:053cb498ec9bdb51e40ce0</string>
</dict>
</plist>